.main {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 10px;
}

.boxResults{
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 10;
   
}
.results{
    overflow: auto;
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dcdcdc;
    box-shadow: 0 4px 6px rgba(100, 73, 73, 0.1); 
    max-height: 230px; 
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.flexRow{
    display: flex;
    flex-direction: row;
}
h2{
    font-size: 16px;
    font-weight: bold;
}
.itemBusca{
    padding: 7px;
    border-radius: 7px;
}
.itemBusca:hover{
    background-color: #5A1BA9;
    color: white;
}
.selected {
    background-color: #f0f0f0; /* Cor de fundo para a opção selecionada */
    color: #005fb2; /* Cor do texto para a opção selecionada */
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.gap{
    gap: 10px
}
.gap5{
    gap: 5px
}
.justCenter{
    justify-content: center;
}
.alignCenter{
    align-items: center;
}
.aligneEnd{
    align-items: end;
}
.justEnd{
    justify-content: end;
}
.grow{
    flex-grow: 1;
}
.wrap{
    flex-wrap: wrap;
}
.relative{
    position: relative;
}
.w100{
    width: 100%;
}
.w50{
    width: 50%;
}
.blockLines{
    min-height: 70px;
    gap: 2px;
}
.infosLine{

}
.gap4{
    gap: 4px
}
.line{
    background-color: #5A1BA9;
    width: 2px;
    height: 100%;
}

.money{
    color: #00a100;
    font-weight: 500;
}