.main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
h2{
    font-weight: bold;
    font-size: 14px;
}
.horline{
    background-color: #FF5D2D;
    flex-grow: 1;
    height: 2px;
}
.redspan{
    color: red;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.gap{
    gap: 10px
}
.justCenter{
    justify-content: center;
}
.alignCenter{
    align-items: center;
}
.aligneEnd{
    align-items: end;
}
.justEnd{
    justify-content: end;
}
.grow{
    flex-grow: 1;
}
.wrap{
    flex-wrap: wrap;
}
.relative{
    position: relative;
}
.w100{
    width: 100%;
}
.custonFields{
    padding: 4px;
}
.errMsg{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 7px;
}